---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import Default from "../../layouts/Default.astro";

const posts = (await getCollection("blog"))
  .filter((blog) => blog.data.published)
  .filter((blog) => !blog.data.archived)
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Default title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <time datetime={post.data.pubDate.toISOString()}>
              {post.data.pubDate.toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Default>

<style lang="scss">
  @import "../../styles/_mixins";

  section {
    background-color: red;
    margin: 0 auto;

    @include breakpoint--content-width;
  }
</style>
