---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Default from "./Default.astro";

import "../styles/blog-post.css";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updated,
  heroImage,
  heroImageCredit,
  heroImageUrl,
} = Astro.props;
---

<Default title={title} description={description}>
  <main>
    <article class="blog">
      {
        heroImage && (
          <>
            <img width={720} height={360} src={heroImage} alt="" />
            <small style="font-family: Karla, sans-serif;">
              Photo by {heroImageCredit} (<a href={heroImageUrl}>Unsplash</a>)
            </small>
          </>
        )
      }
      <h1 class="title">{title}</h1>
      {pubDate && <time>{pubDate.toLocaleDateString("en-US")}</time>}
      {
        updated && (
          <div>
            Last updated on <time>{updated.toLocaleDateString("en-US")}</time>
          </div>
        )
      }
      <hr />
      <slot />
    </article>
  </main>
</Default>

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
</style>
