---
import type { CollectionEntry } from "astro:content";
import Default from "./Default.astro";

import "../styles/blog-post.css";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updated,
  heroImage,
  heroImageCredit,
  heroImageUrl,
} = Astro.props;
---

<Default title={title} description={description}>
  <article class="blog">
    {
      heroImage && (
        <>
          <img width={720} height={360} src={heroImage} alt="" />
          {heroImageCredit && heroImageUrl && (
            <small>
              Photo by {heroImageCredit} (<a href={heroImageUrl}>Unsplash</a>)
            </small>
          )}
        </>
      )
    }
    <h1 class="title">{title}</h1>
    {pubDate && <time>{pubDate.toLocaleDateString("en-US")}</time>}
    {
      updated && (
        <div>
          Last updated on <time>{updated.toLocaleDateString("en-US")}</time>
        </div>
      )
    }
    <hr class="title-divider" />
    <slot />
  </article>
</Default>

<style lang="scss">
  @import "../styles/_mixins";
  .blog {
    padding: 16px;
    margin: 0 auto;
    width: 100vw;

    @media screen and (min-width: 580px) {
      width: 65ch;
    }
  }

  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }

  .title-divider {
    border-top: 1px solid #ddd;
    margin: 32px 0;
  }
</style>
